{% extends "base/base.html" %}
{% load static %}

{% block title_prefix %}Add CSC{% endblock title_prefix %}

{% block og_title_prefix %}CSC Centers{% endblock og_title_prefix %}


{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

<style>
	h5 {
		display: flex;
	}
	.invalid-span {
		display: none;
		color: red !important;
	}
	.is-invalid {
		border: 1px solid red !important;
	}
	.is-valid {
		border: 1px solid green !important;
	}
	.valid {
		display: none;
		color: green
	}
	.invalid {
		display: none;
		color: red;
	}
</style>
{% endblock styles %}

{% block content %}
<style>
    #add-csc-btns-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #add-csc-btns-div button {
        display: none;
    }
</style>

<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2><i class="sl sl-icon-plus"></i> Add CSC Centers</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Add CSC Centers</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->


<!-- Container -->
<div class="container">
	<div class="row">
		<div class="col-lg-12">

			<div class="notification notice large margin-bottom-55">
				<h4>Don't Have an Account? 🙂</h4>
				<p>If you don't have an account you can create one by entering your email address in contact details section. A password will be automatically emailed to you.</p>
			</div>

			<form method="post" action="{% url 'csc_center:add_csc' %}" enctype="multipart/form-data" id="add-csc-form">
				{% csrf_token %}
				<div id="add-listing" class="separated-form">
					<!-- Section -->
					<div class="add-listing-section">
						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-doc"></i> Basic Informations</h3>
						</div>
						<!-- Title -->
						<div class="row with-forms">
							<div class="col-md-4" id="name-div">
								<h5>CSC Name <i class="tip" data-tip-content="Name of your CSC"></i><span class="invalid-span">&nbsp; <i>Required</i></span></h5>
								<input class="search-field" type="text" name="name" id="name-input" placeholder="Name of your CSC" required/>															
							</div>
							<div class="col-md-4">
								<h5>CSC Name Type <i class="tip" data-tip-content="CSC Name Type"></i></h5>
								<select class="chosen-select" id="name-type-dropdown" name="type"
									data-placeholder="Common Service Centre (CSC)" required>
									<option label="CSC Name Type"></option>
									{% for name_type in name_types %}
									<option value="{{name_type.slug}}">{{name_type.type}}</option>
									{% endfor %}
								</select>
								<span id="type-span"></span>
							</div>
							<div class="col-md-4">
								<h5>CSC REG No. (optional) <i class="tip" data-tip-content="CSC Registration Number"></i></h5>
								<input class="search-field" type="text" name="csc_reg_no" id="reg-no-input"
									placeholder="CSC Registration Number" required/>
							</div>
						</div>
						<h5 class="margin-top-30 margin-bottom-10">ABCD <span>Common Service Centre (CSC)</span>Location Name</h5>
						<!-- Row -->
						<div class="row with-forms">
							<!-- Type -->
							<div class="col-md-12">
								<h5>Keywords <i class="tip"
										data-tip-content="Maximum of 15 keywords related with your business"></i>
								</h5>
								<select data-placeholder="Select Keywords" name="keywords" class="chosen-select"
									multiple required>
									{% for keyword in keywords %}
									<option value="{{keyword.pk}}">{{keyword.keyword}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<!-- Row / End -->
					</div>
					<!-- Section / End -->
					<!-- Section -->
					<div class="add-listing-section margin-top-45">
						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-location"></i> Address/Location</h3>
						</div>
						<div class="submit-section">
							<div class="row with-forms">
								<!-- State -->
								<div class="col-md-4">
									<h5>State</h5>
									<select class="chosen-select" name="state" id="state-dropdown"
										data-placeholder="Select State" required>
										<option label="Select State"></option>
										{% for state in states %}
										<option value="{{state.state}}">{{state.state}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-4">
									<h5>District</h5>
									<select class="chosen-select" name="district" id="district-dropdown"
										data-placeholder="Select District" required>
										<option label="Select District"></option>
									</select>
								</div>
								<div class="col-md-4">
									<h5>Block</h5>
									<select class="chosen-select" name="block" id="block-dropdown"
										data-placeholder="Select Block" required>
										<option label="Select Block"></option>
									</select>
								</div>
							</div>
							<!-- Row -->
							<div class="row with-forms">
								<!-- City -->
								<div class="col-md-6" id="location-div">
									<h5>Location <span class="invalid-span">&nbsp; <i>Required</i></span></h5>
									<input type="text" name="location" id="location-input" placeholder="Enter Location" required>									
								</div>
								<!-- Address -->
								<div class="col-md-6" id="zipcode-div">
									<h5>Zip-Code <span class="invalid-span">&nbsp; <i>Required</i></span></h5>
									<input type="text" name="zipcode" placeholder="Enter Pincode" required>
								</div>
								<!-- Zip-Code -->
								<div class="col-md-6" id="landmark-div">
									<h5>Landmark / Building Name <span class="invalid-span">&nbsp; <i>Required</i></span></h5>
									<input type="text" name="landmark_or_building_name"
										placeholder="e.g. 1st Floor, ABCD Building" required>
								</div>
								<div class="col-md-6" id="address-div">
									<h5>Address <span class="invalid-span">&nbsp; <i>Required</i></span></h5>
									<input type="text" name="address" placeholder="e.g. 964 School Street" required>
								</div>
							</div>
							<!-- Row / End -->
						</div>
					</div>
					<!-- Section / End -->
					<!-- Section -->
					<div class="add-listing-section margin-top-45">
						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-picture"></i> Upload</h3>
						</div>
						<!-- Dropzone -->
						<div class="row submit-section" id="dropzone-uploads">
							<div class="col-md-6">
								<h5>Upload Logo</h5>
								<input type="file" name="logo" required>
								<span><i>Note: Maximum logo size allowed: 20 KB.</i></span>
							</div>
							<div class="col-md-6">
								<h5>Upload Banner</h5>
								<input type="file" name="banner" multiple required>
								<span><i>Note: Maximum size for each banner image is 20 KB.</i></span>
							</div>								
						</div>
					</div>
					<!-- Section / End -->

					<!-- Section -->
					<div class="add-listing-section margin-top-45">
						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-docs"></i> Details</h3>
						</div>
						<!-- Description -->
						<div class="form" id="description-div">
							<h5>Description <span class="invalid-span">&nbsp; <i>Required</i></span></h5>
							<textarea class="WYSIWYG" name="description" cols="40" rows="3" id="summary"
								spellcheck="true"></textarea>
						</div>
						<!-- Row -->
					<div class="row with-forms">
						<!-- Owner Name -->
						<div class="col-md-4" id="owner-div">
							<h5>Owner Name <span class="invalid-span">&nbsp; <i>Required</i></span></h5>
							<input type="text" name="owner" placeholder="Owner Name" required>
						</div>
						<!-- Email Address -->
						<div class="col-md-4" id="email-div">
							<h5>E-Mail ID <span class="invalid-span">&nbsp; <i>Required</i></span></h5>
							<input type="email" name="email" placeholder="E-Mail ID" required>
						</div>
						<!-- Website -->
						<div class="col-md-4" id="website-div">
							<h5>Website <span>(optional)</span> <span class="invalid-span">&nbsp; <i>Required</i></span></h5>
							<input type="text" name="website" placeholder="www.domainname.com">
						</div>
					</div>
					<!-- Row / End -->
					<!-- Row -->
					<div class="row with-forms">
						<!-- Phone -->
						<div class="col-md-4" id="contact-div">
							<h5>Contact Number <span class="invalid-span">&nbsp; <i>Required</i></span></h5>
							<input type="text" name="contact_number" placeholder="Contact Number" required>
						</div>
						<div class="col-md-4" id="mobile-div">
							<h5>Mobile Number <span class="invalid-span">&nbsp; <i>Required</i></span></h5>
							<input type="text" name="mobile_number" placeholder="Mobile Number" required>
						</div>
						<div class="col-md-4" id="whatsapp-div">
							<h5>WhatsApp Number <span class="invalid-span">&nbsp; <i>Required</i></span></h5>
							<input type="text" name="whatsapp_number" placeholder="WhatsApp Number" required>
						</div>
							<div class="col-md-12">
								<h5>Select Services</h5>
								<select data-placeholder="Select Services" name="services" class="chosen-select"
									multiple required>
									{% for service in services %}
									<option value="{{service.pk}}">{{service.name}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-md-12">
								<h5>Select Products</h5>
								<select data-placeholder="Select Products" name="products" class="chosen-select"
									multiple>
									{% for product in products %}
									<option value="{{product.pk}}">{{product.name}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<!-- Row / End -->
					</div>
					<!-- Section / End -->
					<!-- Section -->
					<div class="add-listing-section margin-top-45">
						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-clock"></i> Opening Hours</h3>
							<!-- Switcher -->
							<label class="switch"><input type="checkbox" checked><span
									class="slider round"></span></label>
						</div>
						<!-- Switcher ON-OFF Content -->
						<div class="switcher-content">
							<!-- Day -->
							<div class="row opening-day">
								<div class="col-md-2">
									<h5>Monday</h5>
								</div>
								<div class="col-md-5">
									<select class="chosen-select" name="mon_opening_time"
										data-placeholder="Opening Time" required>
										<option label="Opening Time"></option>
										<option value="">Closed</option>
										{% for time in time_data %}
										<option value="{{time.time}}" {% if time.time == '10:00' %} selected {% endif %}>{{time.str_time}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-5">
									<select class="chosen-select" name="mon_closing_time"
										data-placeholder="Closing Time" required>
										<option label="Closing Time"></option>
										<option value="">Closed</option>
										{% for time in time_data %}
										<option value="{{time.time}}" {% if time.time == '18:00' %} selected {% endif %}>{{time.str_time}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<!-- Day / End -->
							<!-- Day -->
							<div class="row opening-day js-demo-hours">
								<div class="col-md-2">
									<h5>Tuesday</h5>
								</div>
								<div class="col-md-5">
									<select class="chosen-select" name="tue_opening_time"
										data-placeholder="Opening Time" required>
										<option label="Opening Time"></option>
										<option value="">Closed</option>
										{% for time in time_data %}
										<option value="{{time.time}}" {% if time.time == '10:00' %} selected {% endif %}>{{time.str_time}}</option>
										{% endfor %}
										<!-- Hours added via JS (this is only for demo purpose) -->
									</select>
								</div>
								<div class="col-md-5">
									<select class="chosen-select" name="tue_closing_time"
										data-placeholder="Closing Time" required>
										<option label="Closing Time"></option>
										<option value="">Closed</option>
										{% for time in time_data %}
										<option value="{{time.time}}" {% if time.time == '18:00' %} selected {% endif %}>{{time.str_time}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<!-- Day / End -->
							<!-- Day -->
							<div class="row opening-day js-demo-hours">
								<div class="col-md-2">
									<h5>Wednesday</h5>
								</div>
								<div class="col-md-5">
									<select class="chosen-select" name="wed_opening_time"
										data-placeholder="Opening Time" required>
										<option label="Opening Time"></option>
										<option value="">Closed</option>
										{% for time in time_data %}
										<option value="{{time.time}}" {% if time.time == '10:00' %} selected {% endif %}>{{time.str_time}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-5">
									<select class="chosen-select" name="wed_closing_time"
										data-placeholder="Closing Time" required>
										<option label="Closing Time"></option>
										<option value="">Closed</option>
										{% for time in time_data %}
										<option value="{{time.time}}" {% if time.time == '18:00' %} selected {% endif %}>{{time.str_time}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<!-- Day / End -->
							<!-- Day -->
							<div class="row opening-day js-demo-hours">
								<div class="col-md-2">
									<h5>Thursday</h5>
								</div>
								<div class="col-md-5">
									<select class="chosen-select" name="thu_opening_time"
										data-placeholder="Opening Time" required>
										<option label="Opening Time"></option>
										<option value="">Closed</option>
										{% for time in time_data %}
										<option value="{{time.time}}" {% if time.time == '10:00' %} selected {% endif %}>{{time.str_time}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-5">
									<select class="chosen-select" name="thu_closing_time"
										data-placeholder="Closing Time" required>
										<option label="Closing Time"></option>
										<option value="">Closed</option>
										{% for time in time_data %}
										<option value="{{time.time}}" {% if time.time == '18:00' %} selected {% endif %}>{{time.str_time}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<!-- Day / End -->
							<!-- Day -->
							<div class="row opening-day js-demo-hours">
								<div class="col-md-2">
									<h5>Friday</h5>
								</div>
								<div class="col-md-5">
									<select class="chosen-select" name="fri_opening_time"
										data-placeholder="Opening Time" required>
										<option label="Opening Time"></option>
										<option value="">Closed</option>
										{% for time in time_data %}
										<option value="{{time.time}}" {% if time.time == '10:00' %} selected {% endif %}>{{time.str_time}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-5">
									<select class="chosen-select" name="fri_closing_time"
										data-placeholder="Closing Time" required>
										<option label="Closing Time"></option>
										<option value="">Closed</option>
										{% for time in time_data %}
										<option value="{{time.time}}" {% if time.time == '18:00' %} selected {% endif %}>{{time.str_time}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<!-- Day / End -->
							<!-- Day -->
							<div class="row opening-day js-demo-hours">
								<div class="col-md-2">
									<h5>Saturday</h5>
								</div>
								<div class="col-md-5">
									<select class="chosen-select" name="sat_opening_time"
										data-placeholder="Opening Time" required>
										<option label="Opening Time"></option>
										<option value=" ">Closed</option>
										{% for time in time_data %}
										<option value="{{time.time}}" {% if time.time == '10:00' %} selected {% endif %}>{{time.str_time}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-5">
									<select class="chosen-select" name="sat_closing_time"
										data-placeholder="Closing Time" required>
										<option label="Closing Time"></option>
										<option value="">Closed</option>
										{% for time in time_data %}
										<option value="{{time.time}}" {% if time.time == '18:00' %} selected {% endif %}>{{time.str_time}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<!-- Day / End -->
							<!-- Day -->
							<div class="row opening-day js-demo-hours">
								<div class="col-md-2">
									<h5>Sunday</h5>
								</div>
								<div class="col-md-5">
									<select class="chosen-select" name="sun_opening_time"
										data-placeholder="Opening Time" required>
										<option label="Opening Time"></option>
										<option value="" selected>Closed</option>
										{% for time in time_data %}
										<option value="{{time.time}}">{{time.str_time}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-5">
									<select class="chosen-select" name="sun_closing_time"
										data-placeholder="Closing Time" required>
										<option label="Closing Time"></option>
										<option value="" selected >Closed</option>
										{% for time in time_data %}
										<option value="{{time.time}}">{{time.str_time}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<!-- Day / End -->
						</div>
						<!-- Switcher ON-OFF Content / End -->
					</div>
					<!-- Section / End -->
					<!-- Section -->
					<div class="add-listing-section margin-top-45">
						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-book-open"></i> Social Media Links</h3>
							<!-- Switcher -->
							<label class="switch"><input type="checkbox" checked><span
									class="slider round"></span></label>
						</div>
						<!-- Switcher ON-OFF Content -->
						<div class="switcher-content">
							<div class="row">
								<div class="col-md-12">
									<table id="pricing-list-container">
										<tr class="pricing-list-item pattern">
											<td>
												<div class="fm-move"><i class="sl sl-icon-cursor-move"></i></div>
												<div class="fm-input pricing-name">
													<select class="chosen-select" name="social_medias"
														data-placeholder="Select Social Media">
														<option value="" selected hidden disabled>Select Social Media</option>
														{% for social_media in social_medias %}
														<option value="{{social_media}}">{{social_media}}</option>
														{% endfor %}
													</select>
												</div>
												<div class="fm-input pricing-ingredients"><input type="text"
														name="social_links"
														placeholder="URL (E.g https://www.socialmediaurl.com/name)" />
												</div>
												<div class="fm-close"><a class="delete" href="#"><i
															class="fa fa-remove"></i></a></div>
											</td>
										</tr>
									</table>
									<button type="button" class="button" id="add-link-btn" >Add New link</button>
								</div>
							</div>
						</div>
						<!-- Switcher ON-OFF Content / End -->
					</div>
					<!-- Section / End -->
					<!-- Section -->
					<div class="add-listing-section margin-top-45">
						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-pin"></i>Location Map</h3>
						</div>
						<div class="col-md-12">
							<div class="col-md-6">
								<input type="text" name="latitude" id="latitude" placeholder="latitude" required>
							</div>
							<div class="col-md-6">
								<input type="text" name="longitude" id="longitude" placeholder="longitude" required>
							</div>
							<div id="map" style="width: 100%; height: 400px"></div>
						</div>
					</div>                        
					<div style="clear:both;"></div>
				</div>
				<!-- Section / End -->
				 <div id="add-csc-btns-div">
					<a href="#" id="preview-btn" class="button preview">Preview <i class="fa fa-arrow-circle-right"></i></a>
					<button class="button preview" type="button">Submit</button>
				 </div>
			</form>
			<br>

		</div>
	</div>
</div>
<!-- Content / End -->
<!-- Container / End -->

{% endblock content %}

{% block scripts %}

<!-- Style Switcher
================================================== -->
<script src="{% static 'scripts/switcher.js' %}"></script>

<div id="style-switcher">
    <h2>Color Switcher <a href="#"><i class="sl sl-icon-settings"></i></a></h2>

    <div>
        <ul class="colors" id="color1">
            <li><a href="#" class="main" title="Main"></a></li>
            <li><a href="#" class="blue" title="Blue"></a></li>
            <li><a href="#" class="green" title="Green"></a></li>
            <li><a href="#" class="orange" title="Orange"></a></li>
            <li><a href="#" class="navy" title="Navy"></a></li>
            <li><a href="#" class="yellow" title="Yellow"></a></li>
            <li><a href="#" class="peach" title="Peach"></a></li>
            <li><a href="#" class="beige" title="Beige"></a></li>
            <li><a href="#" class="purple" title="Purple"></a></li>
            <li><a href="#" class="celadon" title="Celadon"></a></li>
            <li><a href="#" class="red" title="Red"></a></li>
            <li><a href="#" class="brown" title="Brown"></a></li>
            <li><a href="#" class="cherry" title="Cherry"></a></li>
            <li><a href="#" class="cyan" title="Cyan"></a></li>
            <li><a href="#" class="gray" title="Gray"></a></li>
            <li><a href="#" class="olive" title="Olive"></a></li>
        </ul>
    </div>

</div>
<!-- Style Switcher / End -->


<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<!-- Map -->
<script>

    $(document).ready(function () {
        let latitude = 51.958
        let longitude = 9.141

        let currentLatitude = $('#latitude').val();
        let currentLongitude = $('#longitude').val();

        if (currentLatitude) {
            latitude = currentLatitude
        }

        if (currentLongitude) {
            longitude = currentLongitude
        } 
        
        let mapOptions = {
            center: [latitude, longitude],
            zoom: 10
        }

        let map = new L.map('map', mapOptions);

        let layer = new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
        map.addLayer(layer);


        let marker = null;
        marker = L.marker([latitude, longitude]).addTo(map);

        function markOnMap(event=undefined, latitude, longitude) {
                if (marker !== null) {
                    map.removeLayer(marker);
                }

                let markingLatitude;
                let markingLongitude;

                if (latitude) {
                    markingLatitude = latitude;
                }
                
                if (longitude) {
                    markingLongitude = longitude;
                } 
                
                
                if (!latitude && !longitude && event) {
                    markingLatitude = event.latlng.lat;
                    markingLongitude = event.latlng.lng;
                }

                marker = L.marker([markingLatitude, markingLongitude]).addTo(map);       

                document.getElementById('latitude').value = markingLatitude;
                document.getElementById('longitude').value = markingLongitude;
            }

        map.on('click', (event) => {            
            markOnMap(event);
        })

        $('#latitude, #longitude').on('change', function() {
            let changedLatitude = parseFloat($('#latitude').val());
            let changedLongitude = parseFloat($('#longitude').val());

            if (!isNaN(changedLatitude) && !isNaN(changedLongitude)) {
                markOnMap(undefined, changedLatitude, changedLongitude);
            }
        });
    })

</script>

<!-- w3 -->
<!-- Populate District Dropdown -->
<script src="{% static 'w3/admin_csc_center/js/populateDistricts.js' %}"></script>

<!-- Populate Block Dropdown -->
<script src="{% static 'w3/admin_csc_center/js/populateBlocks.js' %}"></script>

<script>
    $(document).ready(() => {
        $('#preview-btn').click(function () {
            if ($(this).html() != 'Edit Form') {
                $('#add-csc-form input').prop('readonly', true);
                $('#add-csc-form textarea').prop('readonly', true);

                $('#dropzone-uploads').css('pointer-events', 'none');
                $('#add-link-btn').css('pointer-events', 'none');
                $('#map').css('pointer-events', 'none');


                $('#add-csc-form input:checkbox').prop('disabled', true);
                $('#add-csc-form select').prop('disabled', true).trigger('chosen:updated');

                $(this).html('Edit Form');
                $('#add-csc-btns-div button').show();
            } else {
                $('#add-csc-form input').prop('readonly', false);
                $('#add-csc-form textarea').prop('readonly', false);

                $('#dropzone-uploads').css('pointer-events', 'auto');
                $('#add-link-btn').css('pointer-events', 'auto');
                $('#map').css('pointer-events', 'auto');


                $('#add-csc-form input:checkbox').prop('disabled', false);
                $('#add-csc-form select').prop('disabled', false).trigger('chosen:updated');

                $(this).html('Preview <i class="fa fa-arrow-circle-right"></i>');
                $('#add-csc-btns-div button').hide();
            };
        });
    });

    $('#add-csc-btns-div button').on('click', function () {
        $('#add-csc-form input').prop('readonly', false);
        $('#add-csc-form textarea').prop('readonly', false);

        $('#dropzone-uploads').css('pointer-events', 'auto');
        $('#add-link-btn').css('pointer-events', 'auto');
        $('#map').css('pointer-events', 'auto');


        $('#add-csc-form input:checkbox').prop('disabled', false);
        $('#add-csc-form select').prop('disabled', false).trigger('chosen:updated');

        $(this).html('Preview <i class="fa fa-arrow-circle-right"></i>');
        $('#add-csc-btns-div button').hide();
        
        $('#add-csc-form').submit()
    });
</script>

<!-- Adding New Social Media Link -->
<script>
    $(document).ready(() => {
        $('#add-link-btn').click(() => {
            $('#pricing-list-container').append(
                `<tr class="pricing-list-item pattern">
                    <td>
                        <div class="fm-move"><i class="sl sl-icon-cursor-move"></i></div>
                        <div class="fm-input pricing-name">
                            <select class="chosen-select" name="social_medias"
                                data-placeholder="Select Social Media">
                                <option value="">Select Social Media</option>
                                {% for social_media in social_medias %}
                                <option value="{{social_media}}" {% for social_media_obj in center.social_media_links.all %} {% if social_media_obj.social_media_name == social_media %} selected {% endif %} {% endfor %}>{{social_media}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="fm-input pricing-ingredients"><input type="text"
                                name="social_links"
                                placeholder="URL (E.g https://www.socialmediaurl.com/name)" />
                        </div>
                        <div class="fm-close"><a class="delete" href="#"><i
                                    class="fa fa-remove"></i></a></div>
                    </td>
                </tr>`
                
            ); 

            $(".chosen-select").chosen({
                width: "100%",
                disable_search: true
            });
        });        
    });
</script>

<script>
    $(document).ready(() => {
        
        const namePattern = /^[\p{L}\s'-]+$/u;
        const slugPattern = /^[a-zA-Z0-9_-]+$/;
        const phonePattern = /^(?:\+91|91|0)?(?:[789]\d{9}|\(?\d{2,5}\)?\d{6,8})$/;
        const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
		const websitePattern = /^(https?:\/\/)?([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,6}(\/[^\s]*)?$/;

        function validateForm() {  
            let data = {}   
            let formValid = true       

            let name = $('#name-input-div input').val().trim();
			let typeDropdown = $('#name-type-dropdown').val().trim();
		 	let regNoInput = $('#reg-no-input').val().trim();

            if (!name) {
                $('#name-input').addClass('is-invalid');
                $('#name-input').focus();
				$("#name-span").addClass("invalid").html("This field is required.").show();
                formValid = false;

            } else {
                $('#name-input').addClass('is-valid');
                $('#name-input').blur();
				$("#name-span").css("display", "none")

                data["name"] = name
            }            
        }

		// ZIP Code validation function for India
		function validateZipCode(zipcode) {
			const zipRegex = /^\d{6}$/;
			return zipRegex.test(zipcode);
		}

		// Owner name validation function
		function validateOwner(owner) {
			return namePattern.test(owner);
		}

		function validateEmail(email) {
			return emailPattern.test(email);
		}

		function validateWebsite(website) {
			return websitePattern.test(website)
		}

		function validatePhone(phone) {
			return phonePattern.test(phone)
		}

		// Input Validation
		function validateInput(parentDiv) {
			$(`${parentDiv} input, ${parentDiv} textarea`).on('input', function () {
				const value = $(this).val();

				// Specific validation for ZIP code
				if (parentDiv === "#zipcode-div") {
					if (validateZipCode(value)) {
						$(this).removeClass('is-invalid').addClass('is-valid');
						$(`${parentDiv} .invalid-span`).html("&nbsp; <i>Required</i>").hide();
					} else {
						$(this).removeClass('is-valid').addClass('is-invalid');
						$(`${parentDiv} .invalid-span`).html("&nbsp; <i>Please enter a valid 6-digit pincode</i>").show();
					}
				} 
				// Specific validation for Owner's Name
				else if (parentDiv === "#owner-div") {
					if (validateOwner(value)) {
						$(this).removeClass('is-invalid').addClass('is-valid');
						$(`${parentDiv} .invalid-span`).html("&nbsp; <i>Required</i>").hide();
					} else {
						$(this).removeClass('is-valid').addClass('is-invalid');
						$(`${parentDiv} .invalid-span`).html("&nbsp; <i><small style='color: red;'>Please enter a valid name using letters from any language, spaces, apostrophes, or hyphens</small></i>").show();
					}
				} 

				else if (parentDiv === "#email-div") {
					if (validateEmail(value)) {
						$(this).removeClass('is-invalid').addClass('is-valid');
						$(`${parentDiv} .invalid-span`).html("&nbsp; <i>Required</i>").hide();
					} else {
						$(this).removeClass('is-valid').addClass('is-invalid');
						$(`${parentDiv} .invalid-span`).html("&nbsp; <i><small style='color: red;'>Please enter a valid email address</small></i>").show();
					}
				} 

				else if (parentDiv === "#website-div") {
					if (!value) {
						$(this).removeClass('is-invalid').removeClass('is-valid');
						$(`${parentDiv} .invalid-span`).hide();
					}
					else if (validateWebsite(value)) {
						$(this).removeClass('is-invalid').addClass('is-valid');
						$(`${parentDiv} .invalid-span`).empty("&nbsp; <i>Required</i>").hide();
					} else {
						$(this).removeClass('is-valid').addClass('is-invalid');
						$(`${parentDiv} .invalid-span`).html("&nbsp; <i><small style='color: red;'>Please enter a valid website URL that starts with 'http://' or 'https://'.</small></i>").show();
					}
				} 

				else if (parentDiv === "#contact-div" || parentDiv === "#mobile-div" || parentDiv === "#whatsapp-div") {
					console.log("entered")
					if (validatePhone(value)) {
						$(this).removeClass('is-invalid').addClass('is-valid');
						$(`${parentDiv} .invalid-span`).html("&nbsp; <i>Required</i>").hide();
					} else {
						$(this).removeClass('is-valid').addClass('is-invalid');
						$(`${parentDiv} .invalid-span`).html("&nbsp; <i><small style='color: red;'>Please enter a valid phone number. Ensure it contains only digits.</small></i>").show();
					}
				} 

				// General validation for other fields
				else {
					if (!value) {
						$(this).removeClass('is-valid').addClass('is-invalid');
						$(`${parentDiv} .invalid-span`).show();
					} else {
						$(this).removeClass('is-invalid').addClass('is-valid');
						$(`${parentDiv} .invalid-span`).hide();
					}
				}
			});
		}

		// Applying validation to different input fields
		validateInput('#name-div');
		validateInput('#location-div');
		validateInput('#zipcode-div');
		validateInput('#landmark-div');
		validateInput('#address-div');
		validateInput('#description-div');
		validateInput('#owner-div');
		validateInput('#email-div');
		validateInput('#website-div');
		validateInput('#contact-div');
		validateInput('#mobile-div');
		validateInput('#whatsapp-div');




		
		// CSC Type Validation
		$('#name-type-dropdown').on('change', function () {
			if (!$(this).val()) {
				$(this).removeClass('is-valid').addClass('is-invalid');
				$('#name_type_dropdown_chosen .chosen-single').css({"border": "1px solid red"});
				$("#type-span").addClass("invalid").css("display", "block").html("This field is required.");
			} else {
				$(this).removeClass('is-invalid').addClass('is-valid');
				$('#name_type_dropdown_chosen .chosen-single').css({"border": "1px solid green"});
				$("#type-span").css("display", "none");
			}
			$('#name-type-dropdown').trigger('chosen:updated');
		});

    })
</script>
{% endblock scripts %}