{% extends "admin_base/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'w3/admin_service/css/enquiry_list.css' %}">
{% endblock styles %}

{% block title_prefix %} Service Equiry {% endblock title_prefix %}

{% block content %}

<!-- Titlebar -->
<div id="titlebar">
	<div class="row">
		<div class="col-md-12">
			<h2>Service Enquiry</h2>
			<!-- Breadcrumbs -->
			<nav id="breadcrumbs">
				<ul>
					<li><a href="{% url 'csc_admin:home' %}">Home</a></li>						
					<li>Service Enquiry</li>
				</ul>
			</nav>
		</div>
	</div>
	{% if messages %}
	<div id="message-div">
		<ul class="messages">
			{% for message in messages %}
			<li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
</div>

<!-- Delete Confirmation Box Start-->
<div id="delete-confirmation-box">
	<div class="modal-content">            
		<h4>Deleting Service Enquiry <span id="service-enquiry"></span> . . .</h4>
		<h5>Are you sure?</h5>                        
	</div>
	<br>
	<form method="GET" action="#">
		<button type="submit" id="confirm-deletion-btn">Delete</button>
		<button type="button" id="cancel-deletion-btn">Cancel</button>
	</form>
</div>
<!-- Delete Confirmation Box Start-->

<div id="service-enquiry-content">
	<div class="row">
        <!-- Listings -->
        <div class="col-lg-12 col-md-12">
            <div class="dashboard-list-box margin-top-0">
                <h4>Service Enquiry</h4>
                <br />
                <table id="enquiry-table">
                    <thead>
                    <tr>
                        <th>&nbsp;<small>No</small></th>
                        <th>&nbsp;<small>Name</small></th>
                        <th><small>Service</small></th>
                        <th><small>Email</small></th>
                        <th class="text-center"><small>Phone</small></th>
                        <th><small>Location</small></th>
                        <th><small>Message</small></th>
                        <th class="text-center"><small>Date &amp; Time</small></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="enquiry-tbody">
                        {% for enquiry in enquiries %}
                        <tr	class="row-items vertical-align-top">
                            <td>&nbsp;<small>{{ forloop.counter }}</small></td>
                            <td>&nbsp;<small>{{ enquiry.applicant_name }}</small></td>
                            <td><small>{{ enquiry.service.first_name }}</small></td>
                            <td><small><a href="mailto:{{enquiry.applicant_email}}" class="text-primary">{{ enquiry.applicant_email }}</a></small></td>
                            <td class="text-center"><small><a href="tel:+91{{enquiry.applicant_phone}}" class="text-primary">{{ enquiry.applicant_phone }}</a></small></td>
                            <td class="text-area-data"><small>{{ enquiry.location }}</small></td>
                            <td class="text-area-data"><small>{{ enquiry.message }}</small></td>
                            <td class="text-center"><small>{{ enquiry.created }}</small></td>
                            <td class="vertical-align-middle">
                                <button type="button" class="button gray toggle-service-enquiry-deletion-btn" data-enquiry-slug="{{enquiry.slug}}" data-enquiry-service="{{enquiry.service}}">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Pagination -->
        <div class="clearfix"></div>
        <div class="row" id="pagination-row">
            <div class="col-md-12">
                <!-- Pagination -->
                <div class="pagination-container margin-top-20 margin-bottom-40">
                    <nav class="pagination" id="pagination-nav">
                        <ul>
                            <li>
                                <a href="#" class="prev-page" id="prev-page"><i class="sl sl-icon-arrow-left"></i></a>
                            </li>
                            <li><a href="#" id="first-page">1</a></li>
                            <li><a href="#" id="second-page">2</a></li>
                            <li><a href="#" id="third-page" >3</a></li>
                            <li>
                                <a href="#" class="next-page" id="next-page"><i class="sl sl-icon-arrow-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>		
    </div>
</div>
<div class="row">
	<!-- Copyrights -->
	<div class="col-md-12">
		<div class="copyrights">© 2021 CSCIndia. All Rights Reserved.| Powered by <a href="https://www.zentrix.in/" target="_blank">Zentrix Technologies</a></div>
	</div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'w3/admin_service/js/enquiry_list.js' %}"></script>

<!-- Pagination -->
<script src="{% static 'w3/general/js/paginator.js' %}"></script>
{% endblock scripts %}