{% extends "base/base.html" %}

{% block title_prefix %} Invalid Payment link {% endblock title_prefix %}

{% block content %}
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Invalid Payment link.</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="{% url 'home:view' %}">Home</a></li>
						<li>Invalid Payment link</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->


<!-- Container -->
<div class="container">

	<div class="row">
		<div class="col-md-12">

			<section id="not-found" class="center">
				<h1>Invalid Payment link.</h1>
			</section>

		</div>
	</div>

</div>
<!-- Container / End -->
{% endblock content %}