{% extends "admin_base/base.html" %}
{% load static %}

{% block title_prefix %}Owners{% endblock title_prefix %}

{% block content %}

{% block styles %}
<link rel="stylesheet" href="{% static 'w3/admin_csc_center/css/admin_csc_center.css' %}">

<style>
    #center-table {
        width: 100%;
        border-collapse: collapse;
        background-color: #fff;
    }

    #center-table tr {
        border-bottom: 1px solid silver;
    }

    #center-table td:first-child,
    #center-table th:first-child,
    #td-image,
    #th-image {
        text-align: center;
    }

    #center-table img {
        padding: 3px 0;
        height: 50px;
    }

    #center-table button {
        height: 0;
        padding: 0 10px;
    }

    .table-responsive {
        overflow-x: auto;
        width: 100%;
        -webkit-overflow-scrolling: touch;
    }

    #list-btn, #clear-btn {
        border: none;
        box-shadow: 0 0 5px #777;        
        padding: 5px 8px;
        margin: 0;
        background-color: #fff;
    }
    #list-btn:hover {
        background-color: aliceblue
    }

    #clear-btn {
        margin-left: 5px;
    }
</style>
{% endblock styles %}

    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2>Owners</h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="{% url 'csc_admin:home' %}">Home</a></li>
                        <li>Owners</li>
                    </ul>
                </nav>
            </div>
        </div>
        {% include "components/message.html" %}
    </div>

    <div class="row">     

        <div class="col-lg-12 col-md-8 padding-right-30">
            <div class="dashboard-list-box margin-top-0" style="background-color: #fff;">
                <div class="row">
                    <div class="col-lg-3">
                        <h4>Owners</h4>
                    </div>
                    <div class="col-lg-7">
                      <!-- Sort by -->
                      <div class="sort-by">
                          <div class="sort-by-select">
                              <select data-placeholder="List By Block" id="block-filter-dropdown" class="chosen-select-no-single">
                                <option value="" hidden disabled selected>List By Block</option>
                                {% for block_obj in blocks %}
                                <option value="{{block_obj.pk}}" {% if block_obj.pk == block_id %} selected {% endif %}>{{block_obj.block}}</option>                                              
                                {% endfor %}                                   
                              </select>
                          </div>
                      </div>
                      <!-- Sort by / End -->                      

                      <!-- Sort by -->
                      <div class="sort-by">
                          <div class="sort-by-select">
                              <select data-placeholder="List By District" id="district-filter-dropdown" class="chosen-select-no-single">
                                <option value="" hidden disabled selected>List By District</option>
                                {% for district_obj in districts %}
                                <option value="{{district_obj.pk}}" {% if district_obj.pk == district %} selected {% endif %}>{{district_obj.district}}</option>                                              
                                {% endfor %}                                   
                              </select>
                          </div>
                      </div>
                      <!-- Sort by / End -->


                      <!-- Sort by -->
                      <div class="sort-by">
                          <div class="sort-by-select">
                              <select data-placeholder="List By State" id="state-filter-dropdown" class="chosen-select-no-single" >
                                  <option value="" hidden disabled selected>List By State</option>
                                  {% for state_obj in states %}
                                  <option value="{{state_obj.pk}}" {% if state_obj.pk == state %} selected {% endif %}>{{state_obj.state}}</option>                                              
                                  {% endfor %}
                              </select>
                          </div>
                      </div>                                
                      <!-- Sort by / End -->
                  </div>
                  <div class="col-lg-2">
                    <div class="sort-by">
                        <form method="get" action="{% url 'csc_admin:csc_owners' %}" id="pagination-form" class="form-group sort-by-select" style="display: flex; align-items: center; margin-right: 15px;">
                            <label for="item-per-page-input" style="margin: 0;">Showing:&nbsp;</label>                        
                            <select name="items_per_page" id="item-per-page-input" style="width: 50px; margin: 0; padding: 0; height: 25px; background-color: #fff; border: none; box-shadow: 0 0 1px;" onchange="$('#pagination-form').submit();">
                                {% for option in available_items_per_page %}
                                <option value="{{option}}" {% if option == current_items_per_page %} selected {% endif %}>{{option}}</option>
                                {% endfor %}
                            </select>                            
                        </form>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <form class="col-lg-12" method="get" action="{% url 'csc_admin:csc_owners' %}" id="item-form" style="display: flex; flex-direction: row-reverse; justify-content: flex-start; padding-right: 0;">

                        <div class="sort-by">
                            <div class="form-group sort-by-select" style="margin-top: 3px; display: flex; align-items: center;">
                                <button type="submit" id="list-btn">List</button>
                                {% if current_starting_item and current_ending_item %}
                                <a href="{% url 'csc_admin:csc_owners' %}" type="submit" id="clear-btn">Clear</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="sort-by">
                            <div class="form-group sort-by-select" style="display: flex; align-items: center; margin-right: 15px;">
                                <label for="ending-item-number" style="margin: 0;">Ending Item No.:&nbsp;</label>                        
                                <input type="number" name="ending_item" id="ending-item-number" style="height: 25px; width: 50px; margin-bottom: 0; padding: 1px;" value="{% if current_ending_item %}{{current_ending_item}}{% else %}{{page_obj.end_index}}{% endif %}">
                            </div>
                        </div>
                        
                        <div class="sort-by">
                            <div class="form-group sort-by-select" style="display: flex; align-items: center; margin-right: 15px;">
                                <label for="starting-item-number" style="margin: 0;">Starting Item No.:&nbsp;</label>                        
                                <input type="number" name="starting_item" id="starting-item-number" style="height: 25px; width: 50px; margin-bottom: 0; padding: 1px;" value="{% if current_starting_item %}{{current_starting_item}}{% else %}{{page_obj.start_index}}{% endif %}">
                            </div>
                        </div>
                        
                    </form>
                </div>
                <br>
                <div class="table-responsive">
                    <table id="center-table">
                        <thead>
                            <tr>
                                <th>&nbsp;No</th>
                                <th>&nbsp;Owner Name</th>                                
                                <th>Email</th>
                                <th style="text-align: center">Phone</th>
                                <th style="text-align: center">Mobile</th>
                                <th style="text-align: center">WhatsApp</th>
                                <th>Location</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="center-tbody">
                            {% for center in csc_centers %}
                            <tr class="row-items" id="tbody-tr-{{center.pk}}">
                                <td><small>&nbsp;{% if current_starting_item %} {{ forloop.counter0|add:current_starting_item }} {% else %} {{ forloop.counter0|add:page_obj.start_index }} {% endif %}</small></td>
                                <td><small>&nbsp;{{center.owner}}</small></td>
                                <td><small><a href="mailto:{{center.email}}" style="color:blue;">{{center.email}}</a></small></td>
                                <td style="text-align: center"><small>{% if center.contact_number %}<a href="tel:+91{{center.contact_number}}" style="color:blue;">{{center.contact_number}}</a>{% else %}-{% endif %}</small></td>                                                                                        
                                <td style="text-align: center"><small>{% if center.mobile_number %}<a href="tel:+91{{center.mobile_number}}" style="color:blue;">{{center.mobile_number}}</a>{% else %}-{% endif %}</small></td>
                                <td style="text-align: center"><small>{% if center.whatsapp_number %}<a target="_blank" href="https://wa.me/+91{{center.whatsapp_number}}" style="color:blue;">{{center.whatsapp_number}}</a>{% else %}-{% endif %}</small></td>
                                <td><small>{% if center.owner_locations|length <= 1 %} {{center.owner_locations.0}} {% else %} <ol>
                                    {% for location in center.owner_locations %}
                                    <li>{{location}}</li>
                                    {% endfor %}
                                    </ol> {% endif %}</small></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
        <!-- Pagination -->
      <div class="clearfix"></div>
      <div class="row" id="pagination-row">
        <div class="col-md-12">
          <!-- Pagination -->
          <div class="pagination-container margin-top-20 margin-bottom-40">
            <nav class="pagination" id="pagination-nav">
              <ul>
                {% if page_obj.has_previous %}
                <li>
                  <a  href="?page={{ page_obj.previous_page_number }}" class="prev-page" id="prev-page"><i class="sl sl-icon-arrow-left"></i></a>
                </li>
                {% endif %}            
                <li><a href="#" id="first-page">{{ page_obj.number }}</a></li>
                {% comment %} <li><a href="#" id="second-page">2</a></li> {% endcomment %}
                {% comment %} <li><a href="#" id="third-page" >3</a></li> {% endcomment %}
                {% if page_obj.has_next %}
                <li>
                  <a href="?page={{ page_obj.next_page_number }}" class="next-page" id="next-page"><i class="sl sl-icon-arrow-right"></i></a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
        <!-- Csc Posts / End -->        
    </div>


    <!-- Copyrights -->
    <div class="col-md-12">
        <div class="copyrights">© 2021 CSCIndia. All Rights Reserved.| Powered by <a href="https://www.zentrix.in/"
                target="_blank">Zentrix Technologies</a></div>
    </div>
</div>

{% endblock content %}

{% block scripts %}

<script>
    $(document).ready(() => {
      $('#state-filter-dropdown, #district-filter-dropdown, #block-filter-dropdown').change(function () {
        const currentDropdownId = event.target.parentElement.parentElement.parentElement.previousSibling.id;
        
        if (currentDropdownId == "state-filter-dropdown") {
            $('#district-filter-dropdown').val('');
            $('#block-filter-dropdown').val('');
        } else if (currentDropdownId == "district-filter-dropdown") {
            $('#block-filter-dropdown').val('');
        }  

        const state = $('#state-filter-dropdown').val();
        const district = $('#district-filter-dropdown').val();
        const block = $('#block-filter-dropdown').val();

        window.location = `/admin/csc_owners/${state ? state : 0}/${district ? district : 0}/${block ? block : 0}/`;
      })
      
    })
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $("#state-filter-dropdown").chosen({
      // width: '100%', // Adjust width as needed
      search_contains: true, // Enable search function
      no_results_text: 'No results found' // Custom text for no results
    });

    // Trigger chosen:updated if options are updated dynamically
    // Optional: remove if not updating options dynamically
    $("#state-filter-dropdown").trigger('chosen:updated');

    $('#list-btn').click(function (e) {
        e.preventDefault();

        const startingValue = parseInt($('#starting-item-number').val());
        const endingValue = parseInt($('#ending-item-number').val());

        if (startingValue && endingValue) {
            if (startingValue >= endingValue) {
                window.alert("Starting item number must be smaller than the ending item number")        
            } else if (startingValue <= 0 || endingValue <= 0) {
                window.alert("Both the starting and ending item numbers must be positive integers greater than zero")        
            } else {
                $('#item-form').submit();
            }
        } else {
            window.alert("Kindly specify both the starting and ending item indices")
        }
    });

    $('#starting-item-number, #ending-item-number').on('input', function () {            
        if ($(this).val() && $(this).val() <= 0) {
            $(this).val(1);
        };
    });
  });
</script>

{% endblock scripts %}