{% extends "user_base/base.html" %}
{% load static %}

{% block title_prefix %} Order History {% endblock title_prefix %}

{% block styles %}
<link rel="stylesheet" href="{% static 'w3/admin_service/css/admin_service.css' %}">

<!-- Table Styles -->
<style>
    #payment-table {
        min-width: 100%;
        background-color: #fff;
    }
    #payment-table tr {
        border-bottom: 1px solid silver;
    }
    #payment-table tbody tr{
        cursor: pointer;
    }
    #payment-table tbody tr:hover {
        color: blue;
    }
    #payment-table td:first-child,
    #payment-table th:first-child,
    #td-image,
    #th-image {
        text-align: center;
    }
    #payment-table img {
        padding: 3px 0;
        height: 50px;
    }
    #payment-table button {
        height: 0;
        padding: 0 10px;
    }
    #payment-table tbody tr:hover button {
        height: 100%;
        padding: 5px 10px;
    }
</style>
{% endblock styles %}

{% block content %}

<!-- Titlebar -->
<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <h2>Order History</h2>
      <!-- Breadcrumbs -->
      <nav id="breadcrumbs">
        <ul>
          <li><a href="{% url 'users:home' %}">Home</a></li>						
          <li>Order History</li>
        </ul>
      </nav>
    </div>
  </div>
  {% include "components/message.html" %}
</div>

<div id="payment-content">
    <div class="row">
        <!-- Listings -->
        <div class="col-lg-12 col-md-12">
          <div class="dashboard-list-box margin-top-0" style="background-color: #fff;">              
          <h4>Order History</h4>
          <br>
          <table id="payment-table">
            <thead>
              <tr>
                <th>No</th>
                {% comment %} <th>Center</th> {% endcomment %}
                <th style="text-align:center">Order ID</th>
                <th style="text-align:center">Payment ID</th>
                <th style="text-align:center">Amount</th>
                <th style="text-align:center">Date & Time</th>
              </tr>
            </thead>
            <tbody id="payment-tbody">
              
              <tr><td colspan="4" style="text-align:center">Loading . . .</td></tr>
              
            </tbody>
          </table>
        </div>
        <!-- Pagination -->
        <div class="clearfix"></div>
        <div class="row" id="pagination-row">
          <div class="col-md-12">
          <!-- Pagination -->
          <div class="pagination-container margin-top-20 margin-bottom-40">
            <nav class="pagination" id="pagination-nav">
              <ul>
                <li>
                  <a href="#" class="prev-page" id="prev-page"><i class="sl sl-icon-arrow-left"></i></a>
                </li>
                <li><a href="#" id="first-page">1</a></li>
                <li><a href="#" id="second-page">2</a></li>
                <li><a href="#" id="third-page" >3</a></li>
                <li>
                  <a href="#" class="next-page" id="next-page"><i class="sl sl-icon-arrow-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>            
    </div>
</div>
<div class="row">
  <!-- Copyrights -->
  <div class="col-md-12">
    <div class="copyrights">© 2021 CSCIndia. All Rights Reserved.| Powered by <a href="https://www.zentrix.in/" target="_blank">Zentrix Technologies</a></div>
  </div>
</div>

{% endblock content %}

{% block scripts %}

<script>
    $(document).ready(() => {

      // get payments on the basis of the current center
      function getOrders(center) {
        $.ajax({
          type: 'GET',
          url: `/users/order_histories/`,
          dataType: 'json',
          data: {'center_slug': center},

          success: response => {
            if (response) {
              $('#payment-tbody').empty();
              $(`#center-dropdown option[value='${center}']`).prop('selected', true).trigger('chosen:updated');

              if (response.payments && response.payments.length > 0) {
                response.payments.forEach((payment, index) => {
                  let html = `<tr class="row-items" onclick="window.location='/users/order_history/${payment.payment_id}'">
                  <td>${ index + 1 }</td>
                  <!-- <td>${ payment.center }</td> -->
                  <td style="text-align:center">${ payment.order_id }</td>
                  <td style="text-align:center">${ payment.payment_id }</td>
                  <td style="text-align:center">${ payment.amount }</td>
                  <td style="text-align:center">${ payment.created }</td>                  
                </tr>`
                  $('#payment-tbody').append(html);
                })
              } else {
                $('#payment-tbody').html(`<tr><td colspan="6" style="color:red; text-transform: capitalize;">No payment to display</tr>`);
              } 
            }
            paginator();
          },
          error: error => console.error("Error: ", error),
        })
      };

      const center =  localStorage.getItem('centerSlug');
      const user = localStorage.getItem('cscUser');

      if (user == `{{request.user.username}}` && center) {      
        getOrders(center);
      } else {
        getOrders(`{{csc_center.slug}}`);        
      }

        // Pagination
      function paginator () {
        let itemsPerPage = 10;
        let currentPage = 1;
        let totalItems = $('.row-items').length;
        let totalPages = Math.ceil(totalItems / itemsPerPage);
  
        $('.prev-page').hide();      
  
        function paginationBtnVisibility() {
          $('#first-page, #second-page, #third-page').removeClass('current-page prev-page next-page uncoming-page earlier-page').hide();
          $('.next-page').hide();
          $('.prev-page').hide();
          
          if (currentPage == totalPages) {          
            $('.next-page').hide();
            
            if (totalPages == 1) {
              $('#first-page').html(currentPage).addClass('current-page').show();                       
              
            } else if (totalPages == 2) {
              $('#first-page').html(currentPage - 1).addClass('prev-page').show();            
              $('#second-page').html(currentPage).addClass('current-page').show();
              $('.prev-page').show();
              
            } else if (totalPages == 3) {
              $('#first-page').html(currentPage - 2).addClass('earlier-page').show();
              $('#second-page').html(currentPage - 1).addClass('prev-page').show();
              $('#third-page').html(currentPage).addClass('current-page').show();
              $('#prev-page').show();
  
            } else {
              $('#first-page').html(currentPage - 2).addClass('earlier-page').show();
              $('#second-page').html(currentPage - 1).addClass('prev-page').show();
              $('#third-page').html(currentPage).addClass('current-page').show();
              $('.prev-page').show();            
            };
  
          } else if (currentPage > 1) {          
            $('.prev-page').show();
            $('.next-page').show();
            $('#first-page').html(currentPage - 1).addClass('prev-page').show();
            $('#second-page').html(currentPage).addClass('current-page').show();
            $('#third-page').html(currentPage + 1).addClass('next-page').show();
  
          } else if (currentPage == 1 && totalPages > 0) {          
            $('.next-page').show();
            $('#first-page').html(currentPage).addClass('current-page').show();
            $('#second-page').html(currentPage + 1).addClass('next-page').show();
  
            if (totalPages >= 3) {          
              $('#third-page').html(currentPage + 2).addClass('upcoming-page').show();
            }
          }          
        };
  
        paginationBtnVisibility();
  
        function renderPage(page) {
            $('.row-items').hide();
            $('.row-items').slice((page - 1) * itemsPerPage, page * itemsPerPage).show();
            $('#pagination a').removeClass('active');
            $('#pagination a').eq(page).addClass('active');
            $('.prev-page').toggleClass('disabled', page === 1);
            $('.next-page').toggleClass('disabled', page === totalPages);
        }
  
        $(document).on('click', '.next-page', function() {
            if (currentPage < totalPages) {
                currentPage++;
                $('#current-page').html(currentPage);
                paginationBtnVisibility();
                renderPage(currentPage);
            }
        });
  
        $(document).on('click', '.upcoming-page', function() {
            if (currentPage < totalPages - 1) {
                currentPage += 2;
                $('#current-page').html(currentPage);
                paginationBtnVisibility();
                renderPage(currentPage);
            }
        });
  
        $(document).on('click', '.prev-page', function() {
          if (currentPage > 1) {
              currentPage--;
              $('#current-page').html(currentPage);
              paginationBtnVisibility();
              renderPage(currentPage);
          }
        });
  
        $(document).on('click', '.earlier-page', function() {
          if (currentPage > 2) {
              currentPage -= 2;
              $('#current-page').html(currentPage);
              paginationBtnVisibility();
              renderPage(currentPage);
          }
        });
  
        // Initialize the first page
        renderPage(currentPage);
      };
  
      paginator();
    })
</script>
{% endblock scripts %}