{% extends "admin_base/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title_prefix %}Update Poster{% endblock title_prefix %}

{% block content %}
<style>
    #add-poster-btns-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #add-poster-btns-div button {
        text-transform: uppercase;
    }
</style>

<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><i class="sl sl-icon-plus"></i> Update Poster</h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="{% url 'home:view' %}">Home</a></li>
                        <li>Update Poster</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

{% include "admin_components/message.html" %}
<!-- Content
================================================== -->
<!-- Container -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form method="post" action="{% url 'csc_admin:update_poster' poster.slug %}" enctype="multipart/form-data" id="add-poster-form">
                {% csrf_token %}
                <div id="add-listing" class="separated-form">
                    <!-- Section -->
                    <div class="add-listing-section">
                        <!-- Headline -->
                        <div class="add-listing-headline">
                            <h3><i class="sl sl-icon-doc"></i> Poster Informations</h3>
                        </div>
                        <!-- Title -->
                        <div class="row with-forms">
                            <div class="col-md-6">
                                <h5>Poster Title <i class="tip" data-tip-content="Title of Poster"></i></h5>
                                <input class="search-field" type="text" name="title"
                                    placeholder="Title of Poster" value="{{poster.title}}" required/>
                            </div>                            
                            <div class="col-md-6">
                                <h5>Upload Poster</h5>
                                <input type="file" name="poster" id="poster-input">
                                <span id="current-poster">{% if poster.poster %} current poster: <a href="{{poster.poster.url}}" target="_blank" style="color:blue">{{poster.poster.name}}</a> {% endif %}</span>
                            </div>
                        </div>
                        <div class="row with-forms">
                            <div class="col-md-6">
                                <h5>State <i class="tip" data-tip-content="State"></i></h5>
                                <select class="chosen-select" name="state" data-placeholder="Select State" required>
                                    <option label="Select State"></option>
                                    {% for state in states %}
                                    <option value="{{state.pk}}" {% if poster.state.pk == state.pk %} selected {% endif %}>{{state.state}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <h5>Service <i class="tip" data-tip-content="Service"></i></h5>
                                <select class="chosen-select" name="service" data-placeholder="Select Service" required>
                                    <option label="Select Service"></option>
                                    {% for service in services %}
                                    <option value="{{service.slug}}" {% if poster.service.slug == service.slug %} selected {% endif %}>{{service.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>                        
                        
                    </div>
                    <!-- Section / End -->                    
                                        
                    <div id="add-poster-btns-div">
                    <button class="button preview" type="submit">Save Poster</button>
                    </div>
            </form>
            <br>
        </div>
        <!-- Switcher ON-OFF Content / End -->
    </div>
    <!-- Section / End -->
</div>
<!-- Content / End -->
<!-- Container / End -->
{% endblock content %}

{% block scripts %}
<!-- DropZone | Documentation: http://dropzonejs.com -->
<script type="text/javascript" src="{% static 'scripts/dropzone.js' %}"></script>


<!-- Style Switcher
================================================== -->
<script src="{% static 'scripts/switcher.js' %}"></script>

<div id="style-switcher">
    <h2>Color Switcher <a href="#"><i class="sl sl-icon-settings"></i></a></h2>

    <div>
        <ul class="colors" id="color1">
            <li><a href="#" class="main" title="Main"></a></li>
            <li><a href="#" class="blue" title="Blue"></a></li>
            <li><a href="#" class="green" title="Green"></a></li>
            <li><a href="#" class="orange" title="Orange"></a></li>
            <li><a href="#" class="navy" title="Navy"></a></li>
            <li><a href="#" class="yellow" title="Yellow"></a></li>
            <li><a href="#" class="peach" title="Peach"></a></li>
            <li><a href="#" class="beige" title="Beige"></a></li>
            <li><a href="#" class="purple" title="Purple"></a></li>
            <li><a href="#" class="celadon" title="Celadon"></a></li>
            <li><a href="#" class="red" title="Red"></a></li>
            <li><a href="#" class="brown" title="Brown"></a></li>
            <li><a href="#" class="cherry" title="Cherry"></a></li>
            <li><a href="#" class="cyan" title="Cyan"></a></li>
            <li><a href="#" class="gray" title="Gray"></a></li>
            <li><a href="#" class="olive" title="Olive"></a></li>
        </ul>
    </div>

</div>
<!-- Style Switcher / End -->


<!-- Hide current poster -->
<script>
    $('#poster-input').on('change', () => $('#current-poster').hide());
</script>
{% endblock scripts %}