{% extends "user_base/base.html" %}
{% load static %}

{% block title_prefix %} Available Posters {% endblock title_prefix %}

{% block styles %}
<link rel="stylesheet" href="{% static 'w3/admin_service/css/admin_service.css' %}">

<!-- Table Styles -->
<style>
    input[type="checkbox"] {
      width: 15px;
      margin: 0;
      padding: 0;
    }
    #checkbox-label {
      margin-bottom: 0;
      padding-left: 5px;
    }    

    .d-flex {
      display: flex;
    }
    .flex-row {
      flex-direction: row;
    }
    .flex-column {
      flex-direction: column;
    }
    .justify-content-end {
      justify-content: right;
    }
    .justify-content-between {
      justify-content: space-between;
    }
    .align-items-center {
      align-items: center;
    }
    .preview-btn {
      border: none;
      box-shadow: 0 0 5px #777;
      background-color: #24a0ed;
      color: #fff;
    }
    #poster-pop-up-box {
      display: none;
      position: absolute;
      border: 1px solid #777;
      z-index:99999;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      transition-timing-function: ease-in-out;
      transition-duration: 50ms;
      background-color: #fff;
    }
    #poster-pop-up-box canvas {
      border-bottom: 1px solid silver;
    }
    #download-poster-btn, #close-btn {
      margin-right: 5px;
      margin-bottom: 5px;
    }
    #close-btn {
      border: none;
      box-shadow: 0 0 5px #777;
      background-color: #fff;
      color: #777;      
    }

    @keyframes blinking {
      0%{opacity: 1;}
      25%{opacity: 1;}
      35%{opacity: 0.5;}
      50%{opacity: 0;}
      65%{opacity: 0.5;}
      75%{opacity: 1;}
      100%{opacity: 1;}
      
    }

    #blinking-notification {
      animation-name: blinking;
      animation-duration: 1.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
    }
</style>
{% endblock styles %}

{% block content %}

	<!-- Titlebar -->
	<div id="titlebar">
		<div class="row">
			<div class="col-md-12">
				<h2>Available Posters</h2>
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="{% url 'csc_admin:home' %}">Home</a></li>						
						<li>Available Posters</li>
					</ul>
				</nav>
			</div>
		</div>
		{% if messages %}
		<div id="message-div">
			<ul class="messages">
				{% for message in messages %}
				<li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>

<div id="poster-content">
  <h3>Loading . . .</h3>  
</div>

<div class="row">
  <!-- Model End-->
  <div id="poster-pop-up-box">
    <canvas id="poster-canvas" width="480" height="600"></canvas>

    <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="d-flex flex-row align-items-center" style="padding-left: 10px;">
        <input type="checkbox" name="custom_poster" id="custom-poster">
        <label for="custom-poster" id="checkbox-label">Custom Poster</label>
      </div>
      <div class="pop-up-footer d-flex justify-content-end">
        <button type="submit" id="download-poster-btn" class="preview-btn"> Download</button>
        <button type="button" id="close-btn" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <!-- Copyrights -->
  <div class="col-md-12">
    <div class="copyrights">© 2021 CSCIndia. All Rights Reserved.| Powered by <a href="https://www.zentrix.in/" target="_blank">Zentrix Technologies</a></div>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script>

	function toggleServiceDeletion(posterId, posterTitle) {
		$('#delete-confirmation-box form').prop('action', `/admin/delete_poster/${posterId}`);
		$('#poster-name').html(posterTitle);
		$('#delete-confirmation-box').show();
	}	
	
	$('#cancel-deletion-btn').click(() => {
		$('#delete-confirmation-box').hide();		
	})
</script>

<script>
  function defaultPosterView(response = undefined) {
    $('#poster-content').html(`
      <div class="row">
        <!-- Listings -->
        <div class="col-lg-12 col-md-12">
          <div class="dashboard-list-box margin-top-0" id="validity-message" style="background-color: #fff;">
            ${ (response && response.light_warning_message) ? `<div class="col-md-12" style="background-color: orange; margin-bottom: 5px; z-index:999;"><h5 style="color: #fff"> ${response.light_warning_message} </h5></div>`: ''}
            ${ (response && response.hard_warning_message) ? `<div class="col-md-12" style="background-color: orangered; margin-bottom: 5px; z-index:999;"><h5 style="color: #fff"> ${response.hard_warning_message} </h5></div>`: ''}
          </div>
        </div>

        <div style="text-align:center; color: red; font-weight: bold;" id="blinking-notification">
          This page is being updated.. Kindly keep checking..
        </div>

        <div class="col-lg-12 col-md-12">
          <div class="dashboard-list-box margin-top-0" style="background-color: #fff;">
            <div class="row">
              <div class="col-lg-3">
                <h4>Available Posters</h4>
              </div>
              <div class="col-lg-9" style="padding: 0; dis">
                <!-- Sort by -->
                <div class="sort-by">
                    <div class="sort-by-select" style="width: 340px;">
                        <select data-placeholder="List By Service" class="chosen-select-no-single" id="service-dropdown" style="background: #fff; border: 1px solid silver; margin-bottom: 25px;">
                            <option value="" hidden disabled selected>List By Service</option>
                            {% for service in services %}
                            <option value="{{service.slug}}">{{service.first_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- Sort by / End -->
              </div>
              </div>            
          
            <div class="poster-listing" style="margin-top: 5px;"></div>

          </div>
          <!-- Pagination -->
          <div class="clearfix"></div>
          <div class="row" id="pagination-row">
            <div class="col-md-12">
            <!-- Pagination -->
            <div class="pagination-container margin-top-20 margin-bottom-40">
              <nav class="pagination" id="pagination-nav">
              <ul>
                <li>
                <a href="#" class="prev-page" id="prev-page"><i class="sl sl-icon-arrow-left"></i></a>
                </li>                
                <li><a href="#" id="first-page">1</a></li>
                <li><a href="#" id="second-page">2</a></li>
                <li><a href="#" id="third-page" >3</a></li>
                <li>
                <a href="#" class="next-page" id="next-page"><i class="sl sl-icon-arrow-right"></i></a>
                </li>
              </ul>
              </nav>
            </div>
            </div>
          </div>
        </div>
      </div>

      
    `)
  }

    $(document).ready(function () {
      
      window.getPoster = function(imageUrl) {

        if (localStorage.getItem("paidCsc") === true || localStorage.getItem("paidCsc") === "true" ) {
          $('#poster-pop-up-box').fadeIn();
          var canvas = $('#poster-canvas')[0];
          var context = canvas.getContext('2d', { willReadFrequently: true });


          const footerWidth = canvas.width;        
          const footerHeight = canvas.width * 0.25;

          function clearFooter() {
            context.fillStyle = "white";

            context.clearRect(0, canvas.height-footerHeight, canvas.width, footerHeight);
            context.fillRect(0, canvas.height-footerHeight, canvas.width, footerHeight);
          }

          function renderCscDetails() {
            let centerName;
            let centerStreet;
            let centerLocation;
            let centerContacts;
            const textOrgin = 270;

            centerName = localStorage.getItem('centerName');
            centerStreet = localStorage.getItem('centerStreet');
            centerLocation = localStorage.getItem('centerLocation');
            centerContacts = localStorage.getItem('centerContacts');

            if (centerName) {
              context.font = "20px Times New Roman";
              context.fillStyle = "black";
              context.textAlign = "center";
              context.fillText(centerName, textOrgin, canvas.height - (footerHeight/1.4));

              let distance = 20;
              context.font = "15px Times New Roman";

              let combonents = [centerStreet, centerLocation, centerContacts]

              combonents.forEach(combonent => {
                if (combonent) {
                  context.fillText(combonent, textOrgin, canvas.height - (footerHeight/1.4) + distance);
                  distance += 20;
                }
              });              
            }
          }

          var mainImage = new Image();
          mainImage.src = imageUrl;

          const qrImage = new Image();
          let centerQrCode;
          centerQrCode = localStorage.getItem('centerQrCode');
          
          mainImage.onload = function() {
              context.drawImage(mainImage, 0, 0, canvas.width, canvas.width);

              if (centerQrCode) {
                qrImage.src = centerQrCode;

                qrImage.onload = function() {              
                  context.clearRect(canvas.width-80, 15, 65, 65);
                  context.drawImage(qrImage, canvas.width-80, 15, 65, 65);
                };          
              }
          };

          const logoImage = new Image();        
          const footerImage = new Image();
          
          let centerLogo;
          let centerFooter;        

          centerLogo = localStorage.getItem('centerLogo');                

          function defaultFooter () {
            if (centerLogo) {
              logoImage.src = centerLogo;
            }          

            logoImage.onload = function() {
              clearFooter();

              if (logoImage.src) {
                context.drawImage(logoImage, 10, canvas.height - 85, 50, 50);
              }            

              renderCscDetails();
            };
          }

          defaultFooter();
          
          $(document).on('change', '#custom-poster', function () {
            if ($(this).is(':checked')) {
              centerFooter = localStorage.getItem('centerFooter');
            
              if (centerFooter) {
                context.clearRect(0, canvas.height - footerHeight, canvas.width, footerHeight);
                footerImage.src = centerFooter;
                
                footerImage.onload = function() {
                  context.drawImage(footerImage, 0, canvas.height - footerHeight, footerWidth, footerHeight);
                };
              } else {
                window.alert("Custom footer not set. Please add a custom footer to proceed.\nकस्टम फुटर सेट नहीं है। कृपया आगे बढ़ने के लिए कस्टम फुटर जोड़ें।")
                $(this).prop('checked', false);
              }
            } else {
              defaultFooter();
            }         
          })


          logoImage.onerror = qrImage.onerror = function() {
              console.error("Failed to load image from localStorage.");
          };
        } else {
          window.alert("Please make the payment to preview and download the posters.");
        }

        
      }

      $(document).on('click', '#download-poster-btn', function () {
        const canvas = $('#poster-canvas')[0];
        const imageData = canvas.toDataURL('image/jpeg', 1.0);  // Get image data in JPEG format
    
        // Create a temporary download link
        const link = document.createElement('a');
        link.href = imageData;

        const posterTitle = localStorage.getItem('posterTitle');
    
        // Set a default filename for the downloaded image
        link.download = `${posterTitle}.jpg`;
    
        // Append link to the body temporarily and trigger download
        document.body.appendChild(link);
        link.click();
    
        // Clean up by removing the temporary link from the DOM
        document.body.removeChild(link);
    });

        function removeCenterDetails() {
          localStorage.removeItem("centerName");
          localStorage.removeItem("centerStreet");
          localStorage.removeItem("centerLocation");
          localStorage.removeItem("centerContacts");
          localStorage.removeItem("centerLogo");
          localStorage.removeItem("centerQrCode");
          localStorage.removeItem("centerFooter");
        }

        function successAction(response, message) {
          defaultPosterView(response);

          $('#validity-message').html(`
            ${ (response && response.light_warning_message) ? `<div class="col-md-12" style="background-color: orange; margin-bottom: 5px; z-index:999;"><h5 style="color: #fff"> ${response.light_warning_message} </h5></div>`: ''}
            ${ (response && response.hard_warning_message) ? `<div class="col-md-12" style="background-color: orangered; margin-bottom: 5px; z-index:999;"><h5 style="color: #fff"> ${response.hard_warning_message} </h5></div>`: ''}
          `)

          if (response.centerName) {
            localStorage.setItem('centerName', response.centerName);
          }
          if (response.centerStreet) {
            localStorage.setItem('centerStreet', response.centerStreet);
          }
          if (response.centerLocation) {
            localStorage.setItem('centerLocation', response.centerLocation);
          }
          if (response.centerContacts) {
            localStorage.setItem('centerContacts', response.centerContacts);
          }
          if (response.centerLogo) {
            localStorage.setItem('centerLogo', response.centerLogo);
          }
          if (response.centerQrCode) {
            localStorage.setItem('centerQrCode', response.centerQrCode);
          }
          if (response.centerFooter) {
            localStorage.setItem('centerFooter', response.centerFooter);
          }
          if (response.paid) {
            localStorage.setItem('paidCsc', true);
          } else {
            localStorage.setItem('paidCsc', false);
          }

          if (response.posters && response.posters.length > 0) {
            
            $('.poster-listing').empty();
            response.posters.forEach((poster, index) => {                  
              $('.poster-listing').append(`                  

              <div class="col-lg-3 col-md-3" style="padding: 0px;">
                <div class="product-grid d-flex flex-column justify-content-between" style="background-color: #fff; height: 376.1px;">
                  <div class="product-image">
                    <a href="#" class="image">
                      <img class="pic-1" src="${ poster.poster ? poster.poster : '/static/w3/images/no_image.png'}">
                      <img class="pic-2" src="${ poster.poster ? poster.poster : '/static/w3/images/no_image.png'}">
                    </a>
                  </div>
                  <div class="product-content" style="background-color: #fff;">
                    <h6 class="title"><a href="#">${poster.title}</a></h6>
                    <button class="preview-btn" onclick="getPoster('${poster.poster ? poster.poster : '/static/w3/images/no_image.png'}'); localStorage.setItem('posterTitle', '${poster.title}'); localStorage.setItem('posterService', '${poster.service}');">Preview</button>

                  </div></div>
              </div>
              `)
            })
          } else {
            $('.poster-listing').html(`<br><h4 style="color: red; text-align: center;">${message}</h4><br>`);
          }
          paginator();
        }

      function getAvalablePosters(center) {        
        removeCenterDetails();
        message = "No Posters Available"

        $.ajax({
          type: 'GET',
          url: `/users/available_posters/`,
          dataType: 'json',
          data: {'center_slug': center},
          success: response => {
            successAction(response, message);
          },
          error: error => {
            console.error('Error: ', error);
            defaultPosterView();
          },
        });
      };

      const center = localStorage.getItem('centerSlug');
      const user = localStorage.getItem('cscUser');

      if (user == `{{request.user.email}}` && center != `{{center.slug}}` ) {
        getAvalablePosters(center);
      } else {
        getAvalablePosters(`{{csc_center.slug}}`);
      }

      // Filtering using service
      function fetchFilteredPosters(center) {
        const serviceSlug = $('#service-dropdown').val();

        removeCenterDetails();
        message = "Posters are unavailable for the selected service";

        $.ajax({
          type: 'GET',
          url: '/users/available_posters/',
          dataType: 'json',
          data: {
            'center_slug': center,
            'service_slug': serviceSlug
          },
          success: response => {
            successAction(response, message);
          },
          error: error => console.error("Error: ", error),
        });
      }
      
      $(document).on('change', '#service-dropdown', function () {
        if (user == `{{request.user.email}}` && center != `{{center.slug}}` ) {          
          fetchFilteredPosters(center);
        } else {
          fetchFilteredPosters(`{{csc_center.slug}}`)
        }

      });
      
      // Close Poster Pop Up
      $(document).on('click', '#close-btn', function (e) {
        $('#poster-pop-up-box').fadeOut();
      })      

      // Filtering End

      // Pagination
      function paginator () {
        let itemsPerPage = 12;
        let currentPage = 1;
        let totalItems = $('.row-items').length;
        let totalPages = Math.ceil(totalItems / itemsPerPage);
  
        $('.prev-page').hide();      
  
        function paginationBtnVisibility() {
          $('#first-page, #second-page, #third-page').removeClass('current-page prev-page next-page uncoming-page earlier-page').hide();
          $('.next-page').hide();
          $('.prev-page').hide();
          
          if (currentPage == totalPages) {          
            $('.next-page').hide();
            
            if (totalPages == 1) {
              $('#first-page').html(currentPage).addClass('current-page').show();                       
              
            } else if (totalPages == 2) {
              $('#first-page').html(currentPage - 1).addClass('prev-page').show();            
              $('#second-page').html(currentPage).addClass('current-page').show();
              $('.prev-page').show();
              
            } else if (totalPages == 3) {
              $('#first-page').html(currentPage - 2).addClass('earlier-page').show();
              $('#second-page').html(currentPage - 1).addClass('prev-page').show();
              $('#third-page').html(currentPage).addClass('current-page').show();
              $('#prev-page').show();
  
            } else {
              $('#first-page').html(currentPage - 2).addClass('earlier-page').show();
              $('#second-page').html(currentPage - 1).addClass('prev-page').show();
              $('#third-page').html(currentPage).addClass('current-page').show();
              $('.prev-page').show();            
            };
  
          } else if (currentPage > 1) {          
            $('.prev-page').show();
            $('.next-page').show();
            $('#first-page').html(currentPage - 1).addClass('prev-page').show();
            $('#second-page').html(currentPage).addClass('current-page').show();
            $('#third-page').html(currentPage + 1).addClass('next-page').show();
  
          } else if (currentPage == 1 && totalPages > 0) {          
            $('.next-page').show();
            $('#first-page').html(currentPage).addClass('current-page').show();
            $('#second-page').html(currentPage + 1).addClass('next-page').show();
  
            if (totalPages >= 3) {          
              $('#third-page').html(currentPage + 2).addClass('upcoming-page').show();
            }
          }          
        };
  
        paginationBtnVisibility();
  
        function renderPage(page) {
            $('.row-items').hide();
            $('.row-items').slice((page - 1) * itemsPerPage, page * itemsPerPage).show();
            $('#pagination a').removeClass('active');
            $('#pagination a').eq(page).addClass('active');
            $('.prev-page').toggleClass('disabled', page === 1);
            $('.next-page').toggleClass('disabled', page === totalPages);
        }
  
        $(document).on('click', '.next-page', function() {
            if (currentPage < totalPages) {
                currentPage++;
                $('#current-page').html(currentPage);
                paginationBtnVisibility();
                renderPage(currentPage);
            }
        });
  
        $(document).on('click', '.upcoming-page', function() {
            if (currentPage < totalPages - 1) {
                currentPage += 2;
                $('#current-page').html(currentPage);
                paginationBtnVisibility();
                renderPage(currentPage);
            }
        });
  
        $(document).on('click', '.prev-page', function() {
          if (currentPage > 1) {
              currentPage--;
              $('#current-page').html(currentPage);
              paginationBtnVisibility();
              renderPage(currentPage);
          }
        });
  
        $(document).on('click', '.earlier-page', function() {
          if (currentPage > 2) {
              currentPage -= 2;
              $('#current-page').html(currentPage);
              paginationBtnVisibility();
              renderPage(currentPage);
          }
        });
  
        // Initialize the first page
        renderPage(currentPage);
      };
      
      paginator();

    });


    $('#service-dropdown').chosen();
</script>
{% endblock scripts %}