{% extends "base/base.html" %}
{% load static %}

{% block title_prefix %} Forgot Password {% endblock title_prefix %}

{% block styles %}
<style>
	#message-div ul {
		padding: 0;
	}
	#message-div ul li {
		list-style: none;		
	}
	.alert {
		z-index: 1500;
		padding: 10px;
	}
	.alert-success {
		background-color: #4CAF50;
		color: #fff;		
	}
	.alert-danger {
		background-color: darkred;
		color: #fff;		
	}
	.alert-warning {
		background-color: orange;
		color: #fff;		
	}
</style>
{% endblock styles %}

{% block content %}


<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>CSC Login</h2>
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="{% url "home:view" %}">Home</a></li>
						<li><a href="{% url "authentication:login" %}">CSC Login</a></li>
                        <li>Forgot Password</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<!-- Pricing Tables
================================================== -->

<div id="sign-in-dialog">
	{% include "admin_components/message.html" %}
	<div class="tabs-container alt">
		<!-- Login -->
		<div class="tab-content" id="tab1">	
			<h3>Login</h3>		
			<form method="post" action="{% url 'authentication:reset_password_with_otp' email %}" class="login">
				{% csrf_token %}
				<p class="form-row form-row-wide">
					<label for="username">OTP:
						<i class="im im-icon-Male"></i>
						<input type="text" class="input-text" name="otp" id="otp" value="" />
					</label>
				</p>
				<p class="form-row form-row-wide">
					<label for="password">Password:
						<i class="im im-icon-Lock-2"></i>
						<input class="input-text" type="password" name="password" id="password"/>
					</label>					
				</p>
                <p class="form-row form-row-wide">
					<label for="password">Repeat Password:
						<i class="im im-icon-Lock-2"></i>
						<input class="input-text" type="password" name="repeat_password" id="repeat_password"/>
					</label>
				</p>
				<div class="form-row" style="display: flex; justify-content: space-between; align-items: center;">				
					<button type="submit" class="button border margin-top-5" name="login" id="login-btn" value="Login">Reset Password</button>
					<div id="resend-otp-div">
						<p style="color: #777;">Resend otp in <span id="timer" style="color: #777;">05:00</span></p>
					</div>
				</div>				
			</form>
		</div>
	</div>
</div>

{% endblock content %}

{% block scripts %}
<script>
	$(document).ready(() => {
		function loginFormValidation() {
			let username = $('#username').val();
			let password = $('#password').val();

			if (username == '' || password == '') {
				$('#login-btn').prop('disabled', true).css('pointer-events', 'none');							
			} else {
				$('#login-btn').prop('disabled', false).css('pointer-events', 'auto');
			}
		};

		$('#username, #password').on('input', loginFormValidation);

		loginFormValidation();
	})
</script>

<!-- Resend Otp TimeOut function -->
 <script>
	$(document).ready(function() {
		var timeLeft = 5 * 60 - 1;  // 5 minutes in seconds

		function startTimer() {
			var interval = setInterval(function() {
				var minutes = Math.floor(timeLeft / 60);
				var seconds = timeLeft % 60;

				if (seconds < 10) seconds = "0" + seconds;
				if (minutes < 10) minutes = "0" + minutes;

				$("#timer").text(minutes + ":" + seconds);

				if (timeLeft <= 0) {
					clearInterval(interval);
					$("#resend-otp-div").html(`<button class="button" type="button" id="resend-btn" style="background-color: grey; color: #fff;">Resend OTP</button>`);
				}

				timeLeft -= 1;
			}, 1000);
		}

		startTimer();

		$(document).on('click', '#resend-btn', () => {
			$("#resend-otp-div").html(`<p style="color: #777;">Resend OTP in <span id="timer" style="color: #777;">05:00</span></p>`);
			timeLeft = 5 * 60 - 1;
			startTimer();
		});
	});


 </script>
{% endblock scripts %}